.input-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: fit-content;
	margin: 0 0 1rem 0;
}
.input-component-regi {
	width: 33rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.input-component-regi-msg {
	width: 8rem;
	text-align: right;
	user-select: none;
}
.input-component-regi-input {
	width: 20rem;
	border-radius: 5px;
	font-size: 1rem;
}
.input-component-regi-additional {
	width: 5rem;
	border-radius: 5px;
	font-size: 1rem;
	user-select: none;
	text-align: center;
	margin: 0 0 0 1rem;
}
#id-duplicate-check {
	cursor: pointer;
	text-align: center;
	border-radius: 5px;
	background-color: aliceblue;
	color: black;
	display: flex;
	align-items: center;
	border: none;
	border-color: transparent;
	justify-content: center;
	height: 1.5rem;
}
.register-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	justify-self: center;
}
.register-input-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin: 0 0 3rem 0;
}
.register-button-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 15rem;
	margin: 0 0 15rem 0;
}
.button-component {
	display: block;
	border-radius: 5px;
	font-size: 1rem;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.button-component-button {
	border-radius: 5px;
	font-size: 1rem;
	user-select: none;
	cursor: pointer;
	text-align: center;
}
.register-title {
	font-size: 2rem;
	font-weight: bold;
	color: #fff;
	text-align: center;
	margin: 3rem 0;
	user-select: none;
}
#button-component-button-id {
	font-weight: bold;
	padding: 5px 15px;
	border-width: 0;
	color: #fff;
	border-radius: 5px;
	font-size: 1.5rem;
	background-color: #2f5f6f;
	font-family: "Courier New", Courier, monospace;
}
input:invalid {
	border-color: red;
	border-width: 2px;
}
input:valid {
	border-color: blue;
	border-width: 2px;
}
